/* ELEMENT SELECTORS */

html,
main {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  background-image: url('images/fitlit-background3.png');
  background-size: cover;
  font-family: sans-serif;
}

article {
  display: flex;
}

body {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  height: 15vh;
  width: 22.5vw;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  outline: none;
}

header {
  color: #E0E0E0;
}

header {
  display: flex;
  height: 5vh;
  width: 80vw;
  justify-content: space-between;
  padding-left: 10vw;
  padding-bottom: 5vh;
}

nav {
  display: flex;
  height: 15vh;
  width: 80vw;
  align-items: flex-end;
  justify-content: center;
  padding-left: 10vw;
  color: #FFED3B;
}

section {
  display: flex;
  height: 70vh;
  width: 80vw;
  justify-content: center;
}

p {
  margin: 10px;
}


.grid-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  align-items: center;
}

.widget {
  display: grid;
  /* justify-content: center; */
}

.widget-long {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: 4 / 1 / 7 / 7;
  background-color: #FFED3B;
  border-radius: 20px;
}

.chart-long {
  max-width: 40em;
  max-height: 15em;
}

.data-title {
  font-weight: bold;
  align-content: flex-start;
  padding-left: 25px;
}

.data-label {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


.data-set {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 15px;

}

.div {
  display: flex;
}

/* HOME PAGE */

.home-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  width: 800px;
  height: 65vh;
}


.user-weekly-step {
  grid-area: 1 / 1 / 4 / 7;
  background-color: #383838;
  border-radius: 5px;
  color: #E0E0E0;
  font-size: 30px;
}

.step-goal {
  grid-area: 4 / 1 / 7 / 4;
  background-color: #FFED3B;
  border-radius: 5px;
  padding-top: 15px;
}


.user-info {
  grid-area: 4 / 4 / 7 / 7;
  background-color: #383838;
  border-radius: 5px;
  flex-direction: column;
  color: #E0E0E0;
}

/* HYDRATION PAGE */

.hydration-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  padding-bottom: 3vh;
}

.daily-water {
  grid-area: 1 / 1 / 4 / 7;
  background-color: #383838;
  border-radius: 20px;
  color: #E0E0E0;;
  font-size: 1.5rem;
}

/* SLEEP PAGE */

.sleep-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  padding-bottom: 3vh;
}

.weekly-sleep {
  grid-area: 1 / 1 / 4 / 7;
  background-color: #FFED3B;
  border-radius: 20px;
}

.daily-sleep {
  grid-area: 4 / 1 / 7 / 4;
  background-color: #383838;
  border-radius: 20px;
}

.avg-sleep {
  grid-area: 4 / 4 / 7 / 7;
  background-color: #383838;
  border-radius: 20px;
}

/* ACTIVITY PAGE */

.activity-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  padding-bottom: 3vh;
}

.daily-steps {
  grid-area: 1 / 1 / 5 / 4;
  background-color: #383838;
  border-radius: 20px;

}

.daily-activity {
  grid-area: 1 / 4 / 3 / 7;
  background-color: #FFED3B;
  border-radius: 20px;
}

.weekly-activity {
  grid-area: 5 / 1 / 7 / 4;
  background-color: #383838;
  border-radius: 20px;
}

.compare-users {
  grid-area: 3 / 4 / 7 / 7;
  background-color: #383838;
  border-radius: 20px;
}

/* NAV BAR */

.nav-bar {
  color: #E0E0E0;
  outline: none;
}

.home-button {
  color: #E0E0E0;
  outline: none;
}

.hydration-button {
  color: #E0E0E0;
  outline: none;

}

.sleep-button {
  color: #E0E0E0;
  outline: none;
}

.activity-button {
  color: #E0E0E0;
  outline: none;
}

/* HIDDEN */

.hidden {
  display: none!important;
}
