/* ELEMENT SELECTORS */

html,
main {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  background-image: url('images/fitlit-background3.png');
  background-size: cover;
  font-family: 'Dela Gothic One',
  cursive;
  font-family: 'Lato',
  sans-serif;
}

article {
  display: flex;
  justify-content: center;
  padding-left: 30px;
}

body {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  height: 15vh;
  width: 22.5vw;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: #282828;
}

nav {
  display: flex;
  height: 10vh;
  width: 80vw;
  align-items: flex-end;
  justify-self: flex-end;
  justify-content: center;
  padding-left: 10vw;
  margin-top: 5%;
  color: #FFED3B;
}

@media screen and (max-width: 40em) {
  nav {
    margin-top: 0;
  }
}

section {
  display: flex;
  height: 80vh;
  width: 80vw;
  justify-content: center;
  margin-left: 4%;
}

.header-banner {
  display: flex;
  height: 3%;
  justify-content: space-between;
  padding: 5% 10% 8% 10%;
}

.header-date {
  font-size: 2vw;
  margin-top: 7%;
  margin-left: 3%;
  color: #E0E0E0;
}

.header-message {
  font-size: 4vw;
  max-width: 50vw;
  margin: 5% 2% 2% 1%;
  color: #E0E0E0;
}

@media screen and (max-width: 40em) {

  .header-banner {
    display: flex;
    height: 7%;
    padding: 1% 2% 5% 10%;
  }

  .header-date {
    font-size: 3vw;
    margin-top: 23%;
    margin-left: 4%;
  }

  .header-message {
    font-size: 6vw;
    max-width: 35vw;
    margin: 12% 5% 2% 7%;
    color: #E0E0E0;
  }
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 8vw;
  align-items: center;
}

.chart-long {
  max-width: 40%;
  max-height: 90%;
  margin: 2%;
}

.chart-short {
  max-width: 30%;
  max-height: 80%;
  margin: 2%;
}

@media screen and (max-width: 40em) {
  .chart-long {
    max-width: 80%;
    max-height: 90%;
    margin: auto 7% 7% 3%;
  }

  .chart-short {
    max-width: 80%;
    max-height: 50%;
    margin: 1%;
  }
}

.box-title {
  font-weight: bold;
  font-size: 2vw;
  align-self: center;
}

.box-title-small {
  font-weight: bold;
  font-size: 1vw;
  align-self: center;
}

.user-datum-small {
  font-weight: bold;
  font-size: 1rem;
  margin: 3%;
  align-self: center;
  max-width: 40vw;
}

.user-datum-medium {
  font-weight: bold;
  font-size: 2vw;
  color: 'lightblue';
}

.user-datum-large {
  font-weight: bold;
  font-size: 8vw;
  margin-top: 3%;
  margin-bottom: 5%;
  color: 'lightblue';
}

@media screen and (max-width: 40em) {
  .box-title {
    font-size: 4vw;
    margin: 5% auto 1% auto;
  }

  .box-title-small {
    font-size: 3vw;
    margin: 5% auto 1% auto;
  }

  .user-datum-small {
    flex-wrap: wrap;
    align-self: center;
    font-size: 2vw;
  }

  .user-datum-medium {
    flex-wrap: wrap;
    align-self: center;
    font-size: 6vw;
  }

  .user-datum-large {
    font-size: 11vw;
    margin-right: 4%;
  }


}

/* HOME PAGE */

.home-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  width: 80vw;
  height: 50vh;
}

.user-info {
  grid-area: 1 / 1 / 7 / 4;
  background-color: #383838;
  border-radius: 20px;
  flex-direction: column;
  color: #E0E0E0;
}

.picture {
  grid-area: 1 / 4 / 4 / 7;
  background-color: #383838;
  border-radius: 20px;
}

.step-goal {
  grid-area: 4 / 4 / 7 / 7;
  background-color: #FFED3B;
  border-radius: 20px;
}

/* MOBILE HOME */
@media screen and (max-width: 40em) {

.step-goal {
  flex-direction: column;
}



}

/* HYDRATION PAGE */

.hydration-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  padding-bottom: 3vh;
  height: 50vh;
  margin-left: 3vw;
}

.weekly-water {
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1 / 4 / 7;
  border-radius: 25px;
  background-color: #FFED3B;
  padding-right: 7%;
}

.daily-water {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  grid-area: 4 / 1 / 7 / 7;
  border-radius: 25px;
  background-color: #383838;
  color: #E0E0E0;
  padding-right: 7%;
}

@media screen and (max-width: 40em) {

  .hydration-grid {
    padding-bottom: 1vh;
    height: 60vh;
    margin-top: 3vh;
    margin-left: 2vh;
  }

  .weekly-water {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
  }

  .daily-water {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* SLEEP PAGE */

.sleep-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  padding-bottom: 3vh;
  height: 50vh;
  margin-left: 3vw;
}

.daily-sleep {
  grid-area: 1 / 1 / 4 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
  background-color: #383838;
  border-radius: 20px;
}

.avg-sleep {
  grid-area: 1 / 4 / 4 / 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #E0E0E0;
  background-color: #383838;
  border-radius: 20px;
}

.weekly-sleep {
  grid-area: 4 / 1 / 7 / 7;
  background-color: #FFED3B;
  border-radius: 20px;
}

@media screen and (max-width: 40em) {

  .sleep-grid {
    padding-bottom: 1vh;
    height: 60vh;
    margin-top: 3vh;
    margin-left: 2vh;
  }

  .daily-sleep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 15vh;
  }

  .avg-sleep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 15vh;
  }

  .weekly-sleep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* ACTIVITY PAGE */

.activity-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  padding-bottom: 3vh;
  height: 50vh;
  margin-left: 3vw;
}

.daily-steps {
  grid-area: 1 / 1 / 5 / 4;
  color: #E0E0E0;
  background-color: #383838;
  border-radius: 20px;
}

.daily-activity {
  grid-area: 1 / 4 / 3 / 7;
  background-color: #FFED3B;
  border-radius: 20px;
}

.weekly-activity {
  grid-area: 5 / 1 / 7 / 4;
  color: #E0E0E0;
  background-color: #383838;
  border-radius: 20px;
}

.compare-users {
  grid-area: 3 / 4 / 7 / 7;
  color: #E0E0E0;
  background-color: #383838;
  border-radius: 20px;
}

/* NAV BAR */

.nav-bar {
  color: #E0E0E0;
  outline: none;
}

.home-button {
  color: #E0E0E0;
  outline: none;
}

.hydration-button {
  color: #E0E0E0;
  outline: none;
}

.sleep-button {
  color: #E0E0E0;
  outline: none;
}

.activity-button {
  color: #E0E0E0;
  background-color: #282828;
  outline: none;
}

.active {
  font-size: 2rem;
  border: 2px solid #E0E0E0;
}


/* HIDDEN */

.hidden {
  display: none!important;
}
